---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Pickles are unexpectedly charming ✨";

const identity = {
  firstName: "Spicy Mary",
  country: "Denver",
  occupation: "Delicacy",
  hobbies: ["spicing things up", "being salty", "making your life better", "bringing pickles into the mix"],
};

const skills = ["hot", "spicy", "good on things", "vinegar wrangling", "using the leftover cucumber juice"];

const happy = true;
const finished = false;
const goal = 3;

const backColor = "lightgoldenrodyellow";
const fontWeight = "bold";
const skillColor = "darkolivegreen";
const textCase = "uppercase";
---

<BaseLayout>
  <style define:vars={{backColor, skillColor, fontWeight, textCase}}>
    html {
    background: var(--backColor);
    }
    h1 {
      color: darkgreen;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
  <h1>{pageTitle}</h1>
      <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
      <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
      <p>Here are a few facts about me, a pickle:</p>
      <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 && 
          <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        } 
      </ul>
      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li class={"skill"}>{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>
