---
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Pickle potato faces shall one day rule the galaxy ✨";

const identity = {
  firstName: "Spicy Mary",
  country: "Denver",
  occupation: "Delicacy",
  hobbies: ["spicing things up", "being salty", "making your life better", "bringing pickles into the mix"],
};

const skills = ["hot", "spicy", "good on things", "vinegar wrangling", "using the leftover cucumber juice"];

const happy = true;
const finished = false;
const goal = 3;

const backColor = "lightgoldenrodyellow";
const fontWeight = "bold";
const skillColor = "darkolivegreen";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <style define:vars={{backColor, skillColor, fontWeight, textCase}}>
     html {
      background: var(--backColor);
     }
      h1 {
        color: crimson;
        font-size: 3rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>

<BaseLayout>
  <h1>about my astro site 🚀</h1>
      <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
      <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
      <p>Here are a few facts about me, a pickle:</p>
      <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 && 
          <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        } 
      </ul>
      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li class={"skill"}>{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>
